<div class="mission">
  <figure>
    <img
      src="https://images.unsplash.com/photo-1590334280707-9d5e0f60a539?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"
      alt=""
    />
  </figure>
  <br />
  <h2>OUR MISSION</h2>
  <p>
    At Caviar Honey we own and manage our beehives to provide hyperlocal honey.
    Our hives are scattered in the nooks and crannies of rural Clarendon, far
    away from the contaminants of modern life. Our goal is to bring you the
    finest raw unfiltered, chemical-free honey to your table. Our hope is that
    our products will facilitate a dialogue among neighbors, friends, family,
    and the community at large about the huge importance of bees.
  </p>
</div>
