.mission {
  width: 547px;
  line-height: 48px;
}

.mission h2 {
  font-weight: 700;
  font-size: 48px;
  display: flex;
  align-items: center;
  width: 360px;
  height: 97px;
}
.mission p {
  width: 547px;
  height: 237px;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #3c3c3c;
}

.mission figure {
  width: 513px;
  height: 342px;
}

.mission figure img {
  width: 100%;
  height: 100%;
}
