<div class="header flex items-center justify-between">
  <app-nav></app-nav>
  <div class="flex justify-between">
    <div class="search-icon flex border-b border-black items-center mx-2">
      <img src="assets/icons/search.png" alt="" />

      <input
        type="search"
        name=""
        id=""
        placeholder="Search"
        class="bg-transparent text-black"
      />
    </div>
    <div class="flex items-center" style="height: 33.83px">
      <div class="cart-icon relative">
        <img src="assets/icons/cart.png" alt="" class="mt-1" />
        <span
          class="text-white bg-red-600 absolute -top-3 right-0"
          style="border-radius: 50%; padding: 1px 6px"
          >0</span
        >
      </div>
      <a routerLink="/Login" routerLinkActive="active" class="user">
        <img src="assets/icons/account.png" alt="" />
      </a>
    </div>
  </div>
</div>
