<div class="header flex items-center">
  <app-nav></app-nav>
  <div class="grid grid-cols-2">
    <div class="search-icon flex border-b">
      <img src="assets/icons/search.png" alt="" />

      <input
        type="search"
        name=""
        id=""
        placeholder="Search"
        class="bg-transparent text-black"
      />
    </div>
    <div>
      <div class="cart-icon">
        <img
          src="assets/icons/cart.png"
          alt=""
        />
        <span class="text-white bg-red-600">0</span>
      </div>
      <img src="" alt="" />
    </div>
  </div>
</div>
