.hero {
  height: 612px;
}
.hero h1 {
  font-size: 64px;
  line-height: 64px;
  margin-top: 106px;
  font-weight: 700;
  width: 512px;
  height: 69px;
}
.hero img {
  width: 615px;
  height: 612px;
}

.hero p {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  width: 560px;
  color: #3c3c3c;
}

app-button {
  width: 182px;
  height: 68.76px;
  top: 67%;
  bottom: 33%;
  left: 0;
}
