<div class="grid grid-cols-2 hero" style="margin-left: 189px">
  <div class="grid grid-flow-row">
    <h1>CAVIAR HONEY</h1>
    <div>
      <p class="text-base">
        Caviar Honey is always raw, never filtered, and always straight from our
        own beehives. We are proud to do all our own beekeeping to provide you
        with the highest quality delicious honey!
      </p>
      <app-button
        text="SHOP NOW"
        (btnClick)="show()"
        
      ></app-button>
    </div>
  </div>
  <div>
    <img
      src="https://s3-alpha-sig.figma.com/img/2830/3f7e/e0fbad6d60571f257d217f904b9768b4?Expires=1650240000&Signature=XZjcBsLp~b5PuFtR7shccWlVzKy0SaleG1ys8MaD2yAeQpOOzxy7Mzo1yD92o3zCV-22u~k3KbB1QMijE8srm24~DaKJuez2og-BGl8rN1zuda7IET-XMr0RA~C-CCyWFU4BEZ6VjNqHUdYxKBO35QLht6fF1CwiTrxyG8Cc~UfHjsl4TUCsrV4qjA~Ug7xJVmYi7qSaM-rboIL32JqdoCc83apu9qEuQKRwNpbmvS7UD2Ztk81xvc9fSaoz8isIfMqUIW8X3c8sUgNxEejCP-YMjiwPJBxJu4bwv2pVfqxOlqrU7Jc3Ic3uLojDzkJ-4beC~ky8PLrPs9OfOk~iPw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
      alt=""
    />
  </div>
</div>
