.buzz {
  width: 605px;
  height: 889px;
  margin-left: 106px;
  padding: 33px 108px 0px 85px;
}
.buzz h3 {
  width: 411.2px;
  height: 97px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}
.review-name {
  line-height: 19.07px;
}
.review-text {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #3c3c3c;
}
img {
  border-radius: 20px;
  width: 197px;
  height: 296px;
}
