.buzz {
  width: 605px;
  height: 889px;
  margin-left: 86px;
  padding: 33px 108px 0px 85px;
}
.buzz h3 {
  width: 411.2px;
  height: 97px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}
.review-name {
  line-height: 32.68px;
}
.review-text {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #3c3c3c;
}
.buzz img {
  border-radius: 20px;
  width: 197px;
  height: 296px;
}
.quotes {
  width: 75px;
  height: 69.99px;
  position: absolute;
  left: -23%;
  right: 100%;
  top: -13%;
}
.quotes-2 {
  width: 75px;
  height: 69.99px;
  position: absolute;
  left: 80%;
  right: 20;

  top: -13%;
}

.quotes img,
.quotes-2 img {
  width: 100%;
  height: 100%;
}
