.login-menu {
  width: 405px;
  height: 68.76px;
}

app-button {
  width: 182px;
  height: 68.76px;
}
h1 {
  font-weight: 700;
  font-size: 48px;
}
.login-header {
  background: url("https://s3-alpha-sig.figma.com/img/0ed8/e2fa/dd502c4b107bb374b71d67d42f8ffa5b?Expires=1650240000&Signature=KlIEC4wNXp2pha292Q3A~NgByGZX7GMLjVlcSX98HVpMjtjPSPCs4r8ru4zuBgsq~-dedLv8BJix90G1N~6ljYQTXIfZyONVKopwqGgVMcV7gsghmb8M4okK9aRxF5heVwm24kw3Fhaz1427SQ42Ib13k~yCW3IQLHSixuZ98pSoxibjnIzFYk~gZAmcZ7x3emWMQCAUt8LSjWPhqdtUKgWsvAUzzyc8lIScEKfrM2tQbLyOVQpNrcHhJ~nwEw7RGDH-QELahS5XrKb4W0stwd6m8sFEF86RmBVjhv7Xdg-qSITbjRe8djC7iCafJZDlrM6XC~tS-NKintwFOouoPA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA")
    center/cover no-repeat;
  height: 212px;
}
