<div class="grid grid-cols-2 newsletter relative">
  <div class="translate-y-11">
    <div class="rotated-image-1 z-20">
      <img
        src="https://s3-alpha-sig.figma.com/img/d789/79cc/4ebd386ef03abc1456ba8d8f5c16d9d0?Expires=1650240000&Signature=Sm4GmUu9EZdEYtylU0fX3hbNHkkoVO0r6Br-Rig3y-8eZwpkWIy0S4r4DQh1rZJx1ASPbwoDTfdwsOfvt8vSnmgFF9u2oNnnW4pHdmqhOvChJcUF7oT4e-ZTU0bQjuZGrD2lPgtHhYH5JzTCLUZBTzoYwKO~ysPXgwzocYbb6wYmqLKSPmjQ8ve6wRdltlEpk4LGxaWEIts4v5IIu2xPNzSAoCWlY5JvQKoszPzTeuDPz5zopyWLdZ2XpMCpLA7fuj0-C0Au-Fk-AElpdOOcjXIyAoy4moJhke9aABmZFjaZmalzwhfeUVaPgtnd9liETZBKsdkdvV34nLMQ-68SnA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        alt=""
      />
    </div>
    <div class="rotated-image-2 relative -z-10">
      <img
        src="https://s3-alpha-sig.figma.com/img/8e09/98a8/5b578209e1dae3caf2ec971449e84b9e?Expires=1650240000&Signature=YlPCcyjbpEGxoYbB~JdpAOooYGgGy~I860sBu0Dlxp4GHHP1FiiYhwhgD7JqxEqi--yZauWRoXOBSz9ieAaHkNF0bWS1uWeRo0OXvem0fZ4907XMjpJ5tw2yz9TSeDaLKRAfS-oHcA8xXmLjodBXx9dW2KMbJeAFOJg4jm80TklInZf4z7W5LA2JxTaIrlZB6tz46njlsCJyaRvmWu8SXuyub7XkGYXW4Mc~7dT2K6y07g~rnJGWJRZpV6433CBTmHatVpCC0~iUx9Jtu~JB1sXT2YAi5qDv6fDk2CntSUAuSdxHUIlA6qog9XD7N0XeoeXceGYTLjJQHh9lKYnAtw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        alt=""
        class="mt-4"
      />
    </div>
  </div>
  <div>
    <div>
      <h3 class="newsletter-heading">NEWSLETTER SIGN UP</h3>
      <p class="newsletter-text">
        Just like bees we are social creatures. Let's stay in touch. Sign up
        <span class="bee-vector"
          ><img
            src="https://s3-alpha-sig.figma.com/img/6983/4107/89a8421008aedfbb3cb14c6034240db5?Expires=1650240000&Signature=TLniTY-PcLByaaN2wjvzUUdpg~L24MVKiUPJo1x17j0jf7U-XZEIJmpSAfVZcm~l8aCx6SCJMqd1F~N3fwJkU~CzVz0mb6wkxoXD79gkJtihMac0pxrvAzuTwLAi-MUvXoRSUzQ46~wpedGGiyP-4XORqkVRIHk0OLwy27m3faUTFmbR31G9aOfoyylHBR6TFFZLE9J2rnoSaUpwaqFp~gxiCmCKGFzl4SfmKO28mt~5LUuZhEu~sSicIoBLeQmP6xmLdSl7dx7lZtEqGDaLrGJq4xRFKM~gALGLLu5vqZVcgWGYRk47UU4lQSQsFcMyAdcKZk~nny3XK1-gfczQTg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
            alt=""
        /></span>
        to catch the latest Buzz from Caviar Honey.
      </p>
    </div>
    <div class="flex justify-between">
      <input
        type="text"
        placeholder="Email Address"
        class="newsletter-email pl-5 border-black border"
      />
      <app-button
        text="SUBSCRIBE"
        color=" #C64917
"
      ></app-button>
    </div>
  </div>
</div>
