.newsletter {
  width: 1269.1px;
  font-weight: 700;
}
.newsletter-heading {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  margin-top: 150px;
  width: 589px;
  height: 80px;
}
app-button {
  width: 197px;
  height: 68px;
  font-size: larger;
}
.newsletter-email {
  width: 419.26px;
  height: 69px;
  font-size: larger;
}
.newsletter-text {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  width: 560px;
  color: #3c3c3c;
}
.rotated-image-1 {
  transform: rotate(-45.06deg);
  width: 589.5px;
  height: 331.77px;
}

.rotated-image-2 {
  transform: rotate(9.02deg);
}

.bee-vector {
  width: 115px;
  height: 90px;
  position: absolute;
  left: 90.93%;
  right: 0.01%;
  top: 31.64%;
  bottom: 46.26%;
}
